@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap');
:root {
    --color-primaria: #ece5e6;
    --color-secundaria: #5c4676;
    --color-terciaria:#bea38e;
    --color-quartenaria:#8ebea3;
    --color-hover: #a38ebe;
    --color: #f5f0ec;

    --font-primaria:"Quicksand", sans-serif;
    --font-secundaria: "DM Sans", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color);
}
header {
    background-image:linear-gradient(50deg, var(--color-quartenaria), var(--color-hover));
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
   
}

.title {
    font-size: 1rem;
    color: var(--color-secundaria);
    padding: 1rem 1rem 1rem 1rem;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem 2rem 2rem;
}
.nav ul {
    display: flex;
    list-style-type: none;    
}

.nav li +li {
    margin-left: 1rem;
}   

.nav a {
    text-decoration: none;
    color: var(--color-secundaria);
}

.nav a:hover {
    color: var(--color-quartenaria);
}

.logo {
    width: 70%;
    height: auto;
}

.banner {
    display: grid;
    place-items: center; /* Atalho para justify-items: center; e align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}
.container_banner {
    padding: 0 1rem 0 4rem;
    color: var(--color-secundaria);
  
  
}

.container_banner h2 {
    margin-bottom: 1rem; 
}

.container_banner p {
    line-height: 1.6; 
}